* {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
}

header,
nav,
footer {
    color: white;
    padding: 2px;
}

header,
footer {
    background-color: DarkGreen;
}

nav {
    background-color: ForestGreen;
}

main {
    display: flex;
}

section {
    background-color: LightGreen;
    width: 33.3%;
    height: 550px;
    padding-top: 10px;
    overflow: auto;
}

h2 {
    width: 33%;
    display: inline-block;
}

table, td, th {
    border: 1px solid DarkGreen;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
}

.srodkowy img {
    width: 95%;
    border-radius: 8px;
}

.lewy tr:hover {
    background-color: ForestGreen;
}