.highlight {
    color: darkred;
}
.inline-block {
    display: inline-block;
    border: 1px solid black;
    width: 20%;
    height: 30px;
}
.flex-container {
    display: flex;
    border: 1px solid black;
    height: 100px;
}
.flex-horizontal-center {
    justify-content: center;
}
.flex-custom {
    align-items: center;
    justify-content: space-between;
}
.flex-gap {
    gap: 30px;
}
.grid-container {
    display: grid;
    border: 1px solid black;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 67px 2rem;
}
.grid-item {
    padding: 4px;
    border: 1px solid darkred;
}