body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    line-height: 1.5;
}
header {
    background-color: #343a40;
    padding: 8px 0 8px 16px;
}
.branding {
    color: white;
    font-size: 1.25rem;
}